<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie category</title>
    <link rel="stylesheet" href="styles_V1.css">
    <link rel="stylesheet" href="category_menu.css">
    <!-- <link rel="stylesheet" href="movie_detail_V2.css"> -->

</head>

<body>
    <header id="header">
        <div class="title">
            <h1>KatzBookingApp</h1>
        </div>
        <div class="searchMovie">
            <input class="searchMovieInput" type="search">
        </div>
    </header>
    <main>
        <div id="category_menu_main">
            <div class="category_menu">
                <ul>
                    <li><a href="#">category_1</a></li>
                    <li><a href="#">category_1</a></li>
                    <li><a href="#">category_1</a></li>
                    <li><a href="#">category_1</a></li>
                </ul>
            </div>
        </div>
        <div class="movieList_container">
            <!-- <a href="." *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: page }"> -->
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                <div class="movie_container">
                    <img src="./dummyAssests/dummyImage.jpeg" alt="movie_name" class="movie_img">
                    <h3 class="movie_name">Somwthing</h3>
                </div>
                
            <!-- </a> -->
        </div>
    </main>
    <footer id="footer">
        <div class="copyRights">
            <p>@Katziio</p>
        </div>
        <div class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>