/* main  */
main {
    display: flex;
    gap: 1rem;
    margin-top: 10vh;
    min-height: 82vh;
}

/* category menu */
#category_menu_main {
    max-width: 12rem;
    padding: 3rem 0;
    box-shadow: 0 4px 8px 0 rgb(83, 81, 81), 0 2px 2px 0 #ffc04a;
    ;
}

.category_menu {
    max-width: 10rem;
    width: 8rem;
    margin: auto;
    font-weight: 600;
    text-align: center;
    height: auto;
}

.category_menu li {
    margin-bottom: 1rem;
}

.category_menu li a:hover {
    border-bottom: 2px solid #ffc04a;
}

/* movieList_container */

.movieList_container {
    /* margin-top: 10vh; */
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.movie_container {
    width: 13rem;
    background-color: #333333;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.movie_container:hover {
    transform: scale(1.05);
}

.movie_container .movie_img {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
}

.movie_container .movie_name {
    padding: 1rem;
    text-align: center;
    background-color: #1c1c1c;
    opacity: 0.9;
}