<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KatzBookingApp</title>
    <link rel="stylesheet" href="styles_V1.css">
</head>
<body>
    <header id="header">
        <div class="title">
            <h1>KatzBookingApp</h1>
        </div>
        <div class="searchMovie">
            <input class = "searchMovieInput" type="search">
        </div>
    </header>
    <main id="main">
            <table class="tableListing" border="1">
                <thead>
                    <tr>
                        <th>Movie Name</th>
                        <th>Director</th>
                        <th>Orgin</th>
                        <th>Ticket price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Avenger</td>
                        <td>Rowso brother</td>
                        <td>USA</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Avenger</td>
                        <td>Rowso brother</td>
                        <td>USA</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Avenger</td>
                        <td>Rowso brother</td>
                        <td>USA</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Avenger</td>
                        <td>Rowso brother</td>
                        <td>USA</td>
                        <td>250</td>
                    </tr>
                </tbody>
            </table>
    </main>
    <footer id="footer">
        <div class="copyRights">
            <p>@Katziio</p>
        </div>
        <div class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>