<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie detail</title>
    <link rel="stylesheet" href="styles_V1.css">
    <link rel="stylesheet" href="movie_detail_V2.css">

</head>

<body>
    <header id="header">
        <div class="title">
            <h1>KatzBookingApp</h1>
        </div>
        <div class="searchMovie">
            <input class="searchMovieInput" type="search">
        </div>
    </header>
    <main id="movie_main">
        <div class="movie_container">
            <div class="movie_image_fullsize_container">
                <img src="./dummyAssests/wp9021681-one-punch-man-4k-desktop-wallpapers.jpg" alt="movie_fullsize" class="movie_image_fullsize">
            </div>
            <div class="movie_details_container">
                <ul>
                    <li><span class="detail_name">Movie Name : </span><span class="detail_detail">Detail Detail</span></li>
                    <li><span class="detail_name">Director Name : </span><span class="detail_detail">Detail Detail</span></li>
                    <li><span class="detail_name">Origin Place: </span><span class="detail_detail">Detail Detail</span></li>
                    <li><span class="detail_name">Ticket Price : </span><span class="detail_detail">Detail Detail</span></li>
                    <!-- <li><span class="detail_name">Detail Name : </span><span class="detail_detail">Detail Detail</span></li> -->
                </ul>
            </div>

        </div>
        <div class="movie_showtime">
            <button class="movie_showtime_button">Check Show Time</button>

        </div>
    </main>
    <footer id="footer">
        <div class="copyRights">
            <p>@Katziio</p>
        </div>
        <div class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>