.searchMovieInput {
    height: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    width: 20rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #333333;
    font-size: 1rem;
}

/* Main content */
main {
    margin-top: 10vh;
    min-height: 80vh;
    padding: 2rem;
}

/* Movie List */
.movieList_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.movie_container {
    background-color: #333333;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.movie_container:hover {
    transform: scale(1.05);
}

.movie_container .movie_img {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
}

.movie_container .movie_name {
    padding: 1rem;
    text-align: center;
    background-color: #1c1c1c;
    opacity: 0.9;
}

.paginate pagination-controls {
    /* background-color: #ffc04a; */
    font-weight: 600;
}
