*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    color: white;
    border: none;
    text-decoration: none;
}
body{
    background-color: black;
}
/* header section starts*/
#header{
    height: 8vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 2rem;
}
#header .title h1{
    color: #ffc04a;
}
.searchMovieInput{
    color: black;
    height: 2rem;
    /* background-color: red; */
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.5rem;
}
/* header section ends*/

/* main section starts*/
main{
    height: 84vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin: auto;
}
th{
    color: #ffc04a;
}
th,td,tr{
    border: 1px solid white;
    text-align: center;
    padding: 0.5rem;
}
/* main section ends */
/* footer section starts*/
footer{
    height: 8vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem;
}
footer .socialMedia ul{
    display: flex;
    width: 15rem;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    list-style: none;
}
