
.movieList_container {
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.movie_container {
    width: 13rem;
    background-color: #333333;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.movie_container:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 8px 0 #ffc04a;
}

.movie_container .movie_img {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
}

.movie_container .movie_name {
    padding: 1rem;
    text-align: center;
}