<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KatzBookingApp</title>
    <!-- <link rel="stylesheet" href="02-frontend/katzMovieBooking/src/app/styles"> -->
</head>

<body>
    <header id="header">
        <div class="title">
            <h1>KatzBookingApp</h1>
        </div>
        <div class="searchMovie">
            <input class="searchMovieInput" type="search">
        </div>
    </header>
    <main id="main">
        <router-outlet></router-outlet>
        <!-- <app-movie-category></app-movie-category> -->
        <app-movielists></app-movielists>
    </main>
    <footer id="footer">
        <div class="copyRights">
            <p>@Katziio</p>
        </div>
        <div class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>